{{/*  Add custom fonts (located in assets/)  */}}

{{/*  Regular Font  */}}
{{ $font := resources.Get "atkinson-hyperlegible/atkinson-hyperlegible.css" | resources.Minify | resources.Fingerprint "sha512" }}

<link rel="preload" as="style" type="text/css" rel="stylesheet" href={{ $font.Permalink }} integrity={{ $font.Data.Integrity }} />

{{ if .Params.asciinema }}
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/asciinema-player.css" />
{{ end }}

{{ template "_internal/twitter_cards.html" . }}

{{ template "_internal/opengraph.html" . }}

{{ if .HasShortcode "github_button" }}
<script async defer src="{{ .Site.BaseURL }}js/buttons.js"></script>
{{ end }}

{{ if .HasShortcode "youtubelite" }}
<script async defer src="{{ .Site.BaseURL }}js/lite-yt-embed.js"></script>

<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/lite-yt-embed.css" />
{{ end }}

