/* atkinson-hyperlegible-regular - latin-ext_latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: local('Atkinson Hyperlegible'), local('Atkinson Hyperlegible Regular'),
    local('atkinson-hyperlegible-v10-latin-ext_latin-regular'),
    url('/atkinson-hyperlegible/atkinson-hyperlegible-v10-latin-ext_latin-regular.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/atkinson-hyperlegible/atkinson-hyperlegible-v10-latin-ext_latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* atkinson-hyperlegible-italic - latin-ext_latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: local('Atkinson Hyperlegible Italic'),
    local('atkinson-hyperlegible-v10-latin-ext_latin-italic'),
    url('/atkinson-hyperlegible/atkinson-hyperlegible-v10-latin-ext_latin-italic.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/atkinson-hyperlegible/atkinson-hyperlegible-v10-latin-ext_latin-italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* atkinson-hyperlegible-700 - latin-ext_latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src: local('Atkinson Hyperlegible Bold'), local('atkinson-hyperlegible-v10-latin-ext_latin-700'),
    url('/atkinson-hyperlegible/atkinson-hyperlegible-v10-latin-ext_latin-700.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/atkinson-hyperlegible/atkinson-hyperlegible-v10-latin-ext_latin-700.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* atkinson-hyperlegible-700italic - latin-ext_latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  src: local('Atkinson Hyperlegible Bold Italic'),
    local('atkinson-hyperlegible-v10-latin-ext_latin-700italic'),
    url('/atkinson-hyperlegible/atkinson-hyperlegible-v10-latin-ext_latin-700italic.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/atkinson-hyperlegible/atkinson-hyperlegible-v10-latin-ext_latin-700italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
